[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=C* music player
GenericName=cmus
Comment=C* music player
Icon=lollypop
TryExec=cmus
Exec=cmus
Terminal=true
Categories=Application;AudioVideo;AudioPlayer;
