[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
  branch = master
[submodule "shell/zimfw"]
  path = shell/zimfw
  url = https://github.com/zimfw/zimfw.git
  branch = master
