[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
  branch = master
[submodule "gtk/themes/dracula"]
	path = gtk/themes/dracula
	url = https://github.com/dracula/gtk.git
[submodule "gtk/icons/dracula"]
	path = gtk/icons/dracula
	url = https://github.com/m4thewz/dracula-icons.git
