! Rofi {{{
rofi.font: Iosevka Term 12
rofi.terminal: /usr/bin/kitty
! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #353b45, #353b45, #282c34

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #353b45, #abb2bf, #353b45, #3A3F4B, #c8ccd4
rofi.color-active:  #353b45, #61afef, #353b45, #353b45, #61afef
rofi.color-urgent:  #353b45, #e06c75, #353b45, #353b45, #e06c75
rofi.separator-style: dash
! }}}

! special
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #3E4452

! red
*.color1:       #E06C75
*.color9:       #BE5046

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #E5C07B
*.color11:      #D19A66

! blue
*.color4:       #61AFEF
*.color12:      #61AFEF

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #5C6370
