#!/bin/sh
xset -b
xset r rate 190 35
setxkbmap -layout "pt,us" -option "grp:alt_shift_toggle" -option caps:swapescape -option terminate:ctrl_alt_bksp

export GOPATH=$HOME/Go
export EDITOR=nvim
export QT_QPA_PLATFORMTHEME=gtk2

if [ -d "$HOME/awmdotfiles/scripts" ] ; then
  export PATH="$PATH:$HOME/awmdotfiles/scripts"
fi

if [ -d "$HOME/Go/bin" ] ; then
  export PATH="$PATH:$HOME/Go/bin"
fi

if [ "$(cat /etc/hostname)" = "Paladium" ]; then
  xrandr --output HDMI-A-0 --primary --auto --right-of DVI-I-1
elif [ "$(cat /etc/hostname)" = "cobalt" ]; then
  blueman-applet
fi

eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets)
start-pulseaudio-x11 &
nm-applet --sm-disable &
pcmanfm -d &
xss-lock -- i3lock -t -c 282828 -e -i "$HOME/.config/awesome/themes/gruvbox/background.png" &
redshift -l 38.72:-9.15 -t 5000:3400 &
