#!/bin/sh
export GOPATH=$HOME/Go
export EDITOR=nvim
export QT_STYLE_OVERRIDE=gtk2

if [ -d "$HOME/awmdotfiles/scripts" ] ; then
  export PATH="$PATH:$HOME/dotfiles/scripts"
fi

if [ -d "$HOME/Go/bin" ] ; then
  export PATH="$PATH:$HOME/Go/bin"
fi

xset -b
xset r rate 200 30
setxkbmap -option caps:swapescape
setxkbmap -option terminate:ctrl_alt_bksp

[[ "$(cat /etc/hostname)" =~ "Paladium" ]] && xrandr --output HDMI-A-0 --primary --auto --right-of DVI-I-1

[[ "$(cat /etc/hostname)" =~ "cobalt" ]] && blueman-applet &

eval "$(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)"

[[ -z "$(pgrep pulseaudio)" ]] && start-pulseaudio-x11 &
[[ -z "$(pgrep nm-applet)" ]] && nm-applet --sm-disable &
xss-lock -- i3lock -t -c 282828 -e -i "$HOME/.config/awesome/themes/gruvbox/background.png" &
dex ~/.config/autostart/*
[[ -z "$(pgrep ibus-daemon)" ]] && ibus-daemon -drx &
[[ -z "$(pgrep redshift)" ]] && redshift -l 38.72:-9.15 -t 5000:3400 &
