Xft.autohint:  1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   true
Xft.antialias: true
Xft.rgba:      rgb
Xft.dpi:       96


! Rofi {{{
rofi.font: Noto Sans UI 12
rofi.levenshtein-sort: true
rofi.terminal: /usr/bin/st
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #1d2021, #a89984, #a89984
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1d2021, #ebdbb2, #282828, #504945, #fbf1c7
rofi.color-active: #d79921, #1d2021, #d79921, #fabd2f, #1d2021
rofi.color-urgent: #cc241d, #1d2021, #cc241d, #fb4934, #1d2021
! }}}

! St terminal {{{
st.font:        Mensch:pixelsize=15:antialias=true:autohint=true;
st.xfps:        120
st.borderpx:    4
st.bold_font:   1
st.termname:    xterm
st.shell:       /usr/bin/fish
st.bellvolume:  0
st.tabspaces:   4
st.chscale:     1.0
st.cwscale:     0.9
st.opacity:     255

st.background:  #1d2021
st.foreground:  #d5c4a1
st.cursorColor: #d5c4a1

st.color0:      #1d2021
st.color1:      #fb4934
st.color2:      #b8bb26
st.color3:      #fabd2f
st.color4:      #83a598
st.color5:      #d3869b
st.color6:      #8ec07c
st.color7:      #d5c4a1
st.color8:      #665c54
st.color9:      #fb4934
st.color10:     #b8bb26
st.color11:     #fabd2f
st.color12:     #83a598
st.color13:     #d3869b
st.color14:     #8ec07c
st.color15:     #fbf1c7

st.color16:     #fe8019
st.color17:     #d65d0e
st.color18:     #3c3836
st.color19:     #504945
st.color20:     #bdae93
st.color21:     #ebdbb2
! }}}

*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #458588
*color14: #076678
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
