Xcursor.theme: Paper

Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rgb
Xft.dpi: 96


! Rofi {{{
rofi.font: Noto Sans UI 12
rofi.levenshtein-sort: true
rofi.terminal: /usr/bin/st
rofi.color-enabled: true

! State:           'bg',    'fg',    'bgalt', 'hlbg',  'hlfg'
rofi.color-normal: #1d1f21, #ffffff, #1d1f21, #ffffff, #1d1f21
rofi.color-urgent: #1d1f21, #cc6666, #1d1f21, #cc6666, #1d1f21
rofi.color-active: #1d1f21, #81a2be, #1d1f21, #81a2be, #1d1f21
!                  'bg',    'border'
rofi.color-window: #1d1f21, #ffffff
! }}}

! St terminal {{{
st.font:        Mensch:pixelsize=15:antialias=true:autohint=true;
st.xfps:        120
st.borderpx:    4
st.bold_font:   1
st.termname:    xterm-256color
st.shell:       /usr/bin/fish
st.bellvolume:  0
st.tabspaces:   4
st.chscale:     1.0
st.cwscale:     0.9
st.opacity:     255

st.background:  #1d1f21
st.foreground:  #ecefef
st.cursorColor: #ecefef

st.color0:      #1d1f21
st.color1:      #cc6666
st.color2:      #b5bd68
st.color3:      #f0c674
st.color4:      #81a2be
st.color5:      #b294bb
st.color6:      #8abeb7
st.color7:      #ecefef
st.color8:      #707880
st.color9:      #cc6666
st.color10:     #b5bd68
st.color11:     #f0c674
st.color12:     #81a2be
st.color13:     #b294bb
st.color14:     #8abeb7
st.color15:     #ffffff
st.color16:     #cc6666
st.color17:     #cc6666
st.color18:     #263238
st.color19:     #37474f
st.color20:     #b5bd68
st.color21:     #ecefef
! }}}
