* {
  border-radius: 0;
  font-family: Inter Medium;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
}

tooltip {
  background: #1d202f;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #f7768e;
}

#workspaces button {
  padding: 0px 10px;
  color: #a9b1d6;
}

#workspaces button.focused {
  box-shadow: 2px 2px 2px #1d202f;
  color: #c0caf5;
  background-color: #f7768e;
  border-radius: 15px;
}

#workspaces button.urgent {
  color: #c0caf5;
  background-color: #e0af68;
  border-radius: 15px;
}

#workspaces button:hover {
  background-color: #bb9af7;
  color: #c0caf5;
  border-radius: 15px;
}

#clock,
#battery,
#pulseaudio,
#workspaces,
#language,
#tray,
#idle_inhibitor,
#backlight {
  background-color: #24283b;
  padding: 0px 8px;
  margin: 8px 0px;
}

#workspaces {
  margin-left: 10px;
  border-radius: 15px 0px 0px 15px;
}

#clock {
  color: #f7768e;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
  padding-right: 10px;
}

#battery {
  color: #9ece6a;
}

#backlight {
  color: #e0af68;
}

#idle_inhibitor {
  color: #7dcfff;
}

#battery.charging {
  color: #7aa2f7;
}

#battery.warning:not(.charging) {
  background-color: #414868;
  color: #c0caf5;
}

#language {
  color: #bb9af7;
}

#pulseaudio {
  color: #7aa2f7;
}