font-family = IntoneMono Nerd Font
theme = Rose Pine
{{ if eq .chezmoi.os "darwin" -}}
command = /bin/zsh
{{- else -}}
command = /usr/bin/zsh
{{- end }}
cursor-style = block
cursor-style-blink = true
