font-family = IntoneMono Nerd Font
theme = Rose Pine
{{ if eq .chezmoi.os "darwin" -}}
command = /opt/homebrew/bin/fish
{{- else -}}
command = /usr/bin/fish
{{- end }}
cursor-style = block
cursor-style-blink = true
