* {
  font-family: Inter Medium;
}

window {
  margin: 1px;
  border: 10px solid #BD93F9;
  border-radius: 10px 10px 10px 10px;
}

#input {
  margin: 5px;
  border-radius: 0px;
  border: none;
  border-bottom: 0px solid black;
  background-color: #282a36;
  color: white;
}

#inner-box {
  margin: 5px;
  background-color: #282a36;
}

#outer-box {
  margin: 3px;
  padding: 20px;
  background-color: #282a36;
  border-radius: 10px 10px 10px 10px;
}

#text {
  margin: 5px;
  color: #F7F8F2;
}

#entry:selected {
  background-color: #21222C;
}

#text:selected {
  text-decoration-color: #F8F8F2;
}
